header {
    padding: 30px;

}

.logo {
    padding-left: 100px;
    margin-left: 100px;
}

.barre {
    background-color: brown;
    height: 70px;
}

.trai {
    margin-top: 50px !important;
}

.bar {
    background-color: brown;
    margin-left: 220px !important;
    width: 700px !important;
    height: 10px;
}

.text {
    text-align: center;

}

.solide{
    display: flex;
    margin-left: 80px;

}
.card1{
    padding-left: 0px;
}

.card2{
    padding-left: 0px;
}
.card3{
    padding-right: 0px;
}


button{
    background-color: brown !important;
    width: 200px !important;
    border-radius: 20px !important;
    text-decoration: solid white !important;
}




footer{
    background-color: #d9dada;
   height: 150px !important;
    
}

.but{
    padding-left: 200px !important;
}

.ecrit{
    margin-top: -120px !important;
    padding-left: 500px !important;
}